<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="businessSiteEntities" connectionString="metadata=res://*/KyModel.csdl|res://*/KyModel.ssdl|res://*/KyModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=741852xx+;persistsecurityinfo=True;database=businessSite&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="BLLFactorySpanName" value="BLLFactory"/>
    <add key="BLLSpanName" value="BLL"/>
  </appSettings>
</configuration>