@model  IEnumerable<Entity.Menus>
@using Entity.ModelViews
@{
    ViewBag.Title = "后台管理";
    Layout = null;
}
@* 菜单@Html.Partial("Menus", Model) *@
@* 内容 *@
    <div class="admin-content">
        <div class="admin-content-body">
            @{int n = (int)ViewData["total"]; }
            @Html.Partial("Category",ViewData["category"] as List<CategoryView>, ViewData["total"] as ViewDataDictionary)
        </div>
    </div>
