@model IEnumerable<Entity.Menus>
@using Entity
<div >
    <ul>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                if (item.MenusParentId == -1)
                {
                    <li>
                        <span>@item.MenusName</span>
                        
                        <ul >
                            @foreach (var subitem in Model)
                        {
                            if (subitem.MenusParentId == item.MenusId)
                            {
                                    <li>
                                        <a href="@subitem.MenusUrl"><sapn>@subitem.MenusName</sapn></a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        }
    </ul>
</div>


