@model IEnumerable<Entity.ModelViews.ProductsView>
@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">产品信息</strong> / <small>Products</small>
        </div>
    </div>

    <hr>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default" href="/Admin/Dashboard/Products_Create"><span class="am-icon-plus"></span> 新增</a>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-form-group">
                <select data-am-selected="{btnSize: 'sm'}">
                    <option value="option1">所有类别</option>
                </select>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field">
                <span class="am-input-group-btn">
                    <button onclick="select()" class="am-btn am-btn-default" type="button">搜索</button>
                </span>
            </div>
        </div>
    </div>

    <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
        @if (Model.Any())
        {
        foreach (var item in Model)
        {
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="@item.ImgUrl" alt="Dj.com" />
            </a>
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href=" @Url.Action("Products_Edit", new {id=item.Id})"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href=" @Url.Action("Products_Upload", new {id=item.Id})"><span class="am-icon-pencil-square-o"></span> 上传</a>
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href=" @Url.Action("Products_Del", new {id=item.Id})"><span class="am-icon-pencil-square-o"></span> 删除</a>
                </div>
            </div>
        </li>
        }
        }
        else
        {
        <li>暂无产品</li>
        }
    </ul>

    <div class="am-margin am-cf">
        <hr />
        <p class="am-fl">共 15 条记录</p>
        <ol class="am-pagination am-fr">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ol>
    </div>

